<h2>Order Received</h2>

<a asp-controller="home">Go Back</a>
<p>Store Name: @ViewBag.Order.Store.Name</p>
<p>Customer Name: @ViewBag.Order.Customer.Name</p>

@foreach (var item in ViewBag.Order.Pizzas)
{
  <p>@item.Name</p>
  <p>@item.Size</p>
  <p>@item.Crust</p>

  foreach (var topping in item.Toppings)
  {
    <p>@topping</p>
  }
}

<a asp-controller="order" asp-action="modify">Modify Order</a>